.profile__pharagraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    margin: 0;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
    
}

@media screen and (max-width: 897px) {
    .profile__pharagraph {
        font-size: 14px;
        line-height: 17px;
        padding-top: 9px;
        max-width: 282px;
        text-align: center;
    }
}