.element__delete {
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: rgba(28,28,28,0);
}

.element__delete:hover {
    opacity: 0.5;
}